:root {
  --bg-light: #fffbf4;
  --bg-dark: #271a02;
  --grey: #9e9e9e;
  --orange: #fed182;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-light {
  background-color: var(--bg-light);
  color: #222222;
}

.app-dark {
  background-color: var(--bg-dark);
  color: #f0f0f0;
}

.weather {
  min-width: 400px;
  padding: 2.5rem !important;
}

.weather-light {
  background-color: #ffffff;
  box-shadow: 5px 10px 15px #d3d3d3 !important;
}

.weather-dark {
  background-color: #222222 !important;
  box-shadow: 5px 10px 15px #000000 !important;
}

.nav-bar {
  position: absolute;
  right: 0;
  top: 1rem;
}

.btn-clear {
  border: none;
  background: transparent;
}

.toggle {
  font-size: 30px;
}

.result-wrapper {
  padding: 1rem 0.75rem;
}

.name {
  font-size: 30px;
}

.general {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp {
  font-size: 40px;
  margin-bottom: 10px !important;
}

.desc {
  color: var(--orange);
  font-weight: 700;
}

.more-info {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail {
  font-size: 24px;
  font-weight: 600;
}

.title {
  color: var(--grey);
  margin-top: 15px;
}